.card-ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: none;

  width: 272px;
  height: 208px;

  box-sizing: border-box;

  position: relative;
}

.illustration {
  width: 240px;
  height: 120px;

  margin-top: -1px;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: none;

  /* position: absolute;
  width: 32px;
  height: 32px;
  right: 0px; */
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: none;

  gap: 8px;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: none;

  border-left: 1px dashed #4c4cff;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  flex: none;

  width: 270px;
  height: 52px;

  background: #131316;
  border: 1px dashed #4c4cff;
}

.card-border {
  /* box-sizing: border-box; */
  border: 1px dashed #4c4cff;
}
