.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: none;

  position: absolute;
  width: 1920;
  height: 88px;
  left: 0%;
  right: 0%;
  top: 0%;
  background: #1c1c21;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: none;

  position: absolute;
  width: 1280px;
  height: 56px;
  left: 320px;
}

.constructor-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: none;

  width: 178px;
  height: 56px;
}

.order-feed-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: none;

  width: 197px;
  height: 56px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: none;

  margin-left: auto;
  width: 207px;
  height: 56px;
}

.icon {
  width: 24px;
  height: 24px;
}

a {
  text-decoration: none;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: absolute;
  width: 289.15px;
  height: 40px;
  left: 495px;
}
